<header>
	     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  		    <div class="container">
    		    <div class="navbar-header logo">
    			     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        			     <span class="icon-bar"></span>
        			     <span class="icon-bar"></span>
        			     <span class="icon-bar"></span>
      			   </button>
      			   <a class="navbar-left" href="index.html"><img class="img-circle img-responsive logo" src="images/logo.gif" alt="logo" width="70px" height="500px" max-width: 100%; ></img></a>
    		    </div>
    		    <div class="collapse navbar-collapse" id="myNavbar" >
    			     <ul class="nav navbar-nav navbar-right">
      				    <li class="{{ page.home }}"><a href="/" title="Nedu Robert"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                  		    <li class="{{ page.portfolio }}" ><a href="/portfolio" title="Portfolio"><span class="glyphicon glyphicon-pencil"></span> Portfolio</a></li>
      			 <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="portfolio.html">Portfolio <span class="caret"></span></a>
        				    <ul class="dropdown-menu">
          					   <li><a href="#">Web Development</a></li>
          					   <li><a href="#">Writing</a></li>
          					   <li><a href="#">Web Design</a></li>
      	  				  </ul>
      				    </li> -->
      				    <li class="{{ page.about }}"><a href="/about" title="Nedu Robert"><span class="glyphicon glyphicon-user"></span> About</a></li>
      				    <li class="{{ page.contact }}"><a href="/contact" title="Contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
    			      </ul>
  			    </div>
  		    </div>
	      </nav>
    </header>
