* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

html, body {
	max-width: 100%;
}

html, body, .intro-sec {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

img, embed, object, video {
	max-width: 100%;
}

a {
	cursor: pointer;
}


header .fa {
	font-size: 1.1em;
	padding: 0.25em;
}

.logo span {
    font-family: 'Mr Dafoe', cursive;
    font-size: 2em;
    color: #FFF;
}

.navbar-inverse {
	background-color: transparent;
	border: none;
}

.navbar-inverse.scrolled {
	background-color: #404C58;
	transition: background-color 200ms linear;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFF;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
	color: #FFF;
	font-size: 1.2em;
}

.navbar-brand:focus, .navbar-brand:hover {
	font-size: 1.5em;
}

@media (min-width: 768px) { 
	.navbar-brand {
		transform: translateX(-50%);
		left: 50%;
		position: absolute;
	}
}

.intro {
	background: linear-gradient(rgba(3, 30, 73, .7), rgba(3, 30, 73, .7)), url('../images/intro.jpeg') no-repeat center;
	background-size: cover;
	height: 100%;
}

.intro h2 {
	margin-top: -20px;
}

.text-intro {
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 250px 0 0px;
	color: #FFF;
	vertical-align: middle;
}

.intro-nav {
	text-align: center;
	-webkit-animation: bounce 2s infinite;
  	animation: bounce 2s infinite;
}

.intro-nav a {
	color: #FFF;
}

.intro-nav .fa {
	padding: 5.25em;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

hr {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	width: 23em;
}

hr { 
  	height: 30px; 
  	border-width: 1px 0 0 0; 
  	border-radius: 20px; 
} 

hr:before { 
  	display: block; 
  	content: ""; 
  	height: 30px; 
  	margin-top: -31px; 
  	border-style: solid; 
  	border-color: #FFF; 
  	border-width: 0 0 1px 0; 
  	border-radius: 20px; 
}

.webdev {
	background-color: #f1ede0;
}

.datasci {
	background-color: #D5C8A1;
}

.webdev, .datasci, .contact {
	width: 100.4%;
	overflow: hidden;
}

.webdev .row, .datasci .row{
	margin-bottom: 5em;
	padding: 10px 0 45px 0;
}

.webdev .row:first-child, .datasci .row:first-child{
	margin-bottom: 5em;
	padding-top: 65px;
}

.webdev .row img:hover, .datasci .row img:hover{
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

@media (max-width: 992px) { 
	.webdev .row img, .datasci .row img {
		padding-bottom: 7em;
	}

	.padlayout {
		padding-bottom: 0 !important;
	}

}

.modal {
	font-family: 'Lato', sans-serif;
}

.modal h3{
	font-weight: bold;
}

.modal p{
	font-size: 18px;
}

.modal h3, .modal p {
	text-align: center;
	margin-top: 20px;
}

.modal-dialog {
	width: 45em;
	margin: 200px auto;
}

.modal-content {
	background: #f1ede0;
	color: #404C58;
}

.skilltag {
	border: 2px solid #404C58;
	background-color: #404C58;
	color: #f3ecdf;
	padding: 2%;
	font-weight: bold;
	margin: 5px;
    border-radius:10px 10px 10px 10px;
}

.modallinks {
	margin: 20px auto;
	text-align: center;
}

.modallinks a:first-child {
	margin-right: 25px;
}

.modallinks .btn {
	background-color: #404C58;
	color: #f3ecdf;
}

.modal-open {
    overflow: auto !important;
    overflow-x: hidden !important;
    padding-right: 0 !important;
}
.modal-open[style] {
    padding-right: 0px !important;
}

.modal {
    overflow-y: auto !important;
}

.contact {
	background-color: #f1ede0;
	padding: 65px 0;
}

.contact h1 {
	text-align: center;
	padding-bottom: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #404C58;
}

.contact button {
	float: right;
	background-color: #404C58;
	color: #f3ecdf;
}

.contact label {
	color: #404C58;
}

.input-group-addon {
	color: #f3ecdf;
	background-color: #404C58;
}

.contact h2 {
	clear: both;
	text-align: center;
	padding-top: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #404C58;
}

.social-links {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.social-links a {
	font-size: 3em;
	padding: 1rem 3rem 0 3rem;
	color: #404C58;
}

@media (min-width: 992px) { 
	form > div:first-child {
		border-right: 1px solid #262e35;
	}
}
